@model Company

<div class="card shadow border-0 my-4">
    <div class="card bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">@(Model.Id != 0 ? "Update" : "Create") Company</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="border border-2 p-3">
                <form asp-action="Upsert" asp-controller="Company" enctype="multipart/form-data" method="post">
                    <input asp-for="@Model.Id" hidden />
                    
                    <div class="row">
                        <div class="col-12">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.Name" class="form-control border-0 shadow" />
                            <label asp-for="@Model.Name" class="control-label"></label>
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.City" class="form-control border-0 shadow" />
                            <label asp-for="@Model.City" class="control-label"></label>
                            <span asp-validation-for="@Model.City" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.State" class="form-control border-0 shadow" />
                            <label asp-for="@Model.State" class="control-label"></label>
                            <span asp-validation-for="@Model.State" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.StreetAddress" class="form-control border-0 shadow" />
                            <label asp-for="@Model.StreetAddress" class="control-label"></label>
                            <span asp-validation-for="@Model.StreetAddress" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="@Model.PhoneNumber" class="form-control border-0 shadow" />
                            <label asp-for="@Model.PhoneNumber" class="control-label"></label>
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="row p-2 mt-3 mb-3">
                            <div class="col-6 p-1">
                                @if (Model.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 p-1">
                                <a asp-controller="Company" asp-action="Index" class="btn btn-secondary border-2 form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>  
</div>


@section Scripts {
        @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} *@
        @{<partial name="_ValidationScriptsPartial"/> }
}
